@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300&display=swap');

/*The whole page*/
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Flex', sans-serif;
  background-color: lightgrey;
  display: grid; /*inline-grid?*/
  grid-template: 200px auto / 280px 3fr 1fr
}

/*Navigation area on the side*/
.nav-area {
  background-color: rgb(31, 153, 209); 
  color: white;
  grid-row-start: 1;
  grid-row-end: 3; 
}

h2 {
  font-size: 1.6rem;
  padding: 15px;
  margin: 15px;
  display: inline-block;
}

.trello {
  position: relative;
  top: 20px;
  left: 20px;
}

/*Header area at the top*/
.header-area {
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  grid-template: 60px 140px / 3fr 2fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

/*Top portion of header*/
.top-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template: 70px / 7fr 3fr
}

.searchbar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px;
  overflow: hidden;
 }

 form {
  display: grid;
  grid-template: 70px / 80px auto;
 }

.searchbar input[type=text] {
  width: 80%;
  height: 30px;
  padding: 6px 15px;
  margin-top: 10px;
  font-size: 17px;
  background-color: lightgray;
  border: none;
  border-radius: 20px;
}

.searchbar input[type=text]:focus {
  border: orange
}

.icons {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  padding: 10px 100px 0px 0px;
}

#profile-pic2 {
  justify-self: center;
  align-self: center;
  width: 65px;
  height: auto;
  margin: 0px 10px;
  border-radius: 60px;
}

.profile-icon, .profile-name, .bell {
  color: rgb(31, 153, 209);
  text-decoration: none;
  margin: 0px 10px;
}

/*Bottom portion of header*/
.bottom-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template: 130px / auto auto auto
}

.user-info {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  gap: 14px;
  padding: 14px;
  display: inline-grid;
  grid-template: 1fr / 1fr 3fr
}

#profile-pic {
  justify-self: center;
  align-self: center;
  width: 95px;
  height: auto;
  border-radius: 60px;
  margin-left: 20px;
}

h1 {
  font-size: 2vw;
  font-weight: bold;
}

.post-buttons {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding-right: 50px;
}


/*Project area in the middle*/
h3 {
  font-size: 1.4rem;
  padding-left: 24px;
}

.projects-area {
  display: grid;
  gap: 24px;
  padding-left: 24px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

h5 {
  margin: 10px 0px 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

/*Media area on the right side*/
.announcements-area {
  background-color: white;
  text-align: left;
  border: none;
  color: black;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 24px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.announcements-area > p {
  padding-bottom: 10px;
  font-size: 0.7rem;
}

.announcements-area > p:not(:last-child) {
  border-bottom: solid 1px gray;
}

.announcements-area > h5 {
  font-size: 0.9rem;
}

.trending-area {
  background-color: white;
  text-align: left;
  border: none;
  color: black;
  border-radius: 8px;
  font-size: 0.9rem;
  margin: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
