@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: lightgrey;
}

.container {
    display: grid; /*inline-grid?*/
    grid-template: repeat(6, 1fr) / repeat(5, 1fr)
  }

.nav-area {
    background-color: rgb(31, 153, 209); 
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
}

.header-area {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template: repeat(2, 150px) / repeat(5, 1fr)
}
.searchbar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.top-links {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.user-info {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    gap: 14px;
    padding: 14px;
    display: inline-grid;
    grid-template: 1fr 1fr / 1fr 4fr
}

#profile-pic {
    width: 150px;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 3
}

/* .user-info p {
    grid-column-start: 2;
    grid-row-end: 2
} */

h1 {
    font-size: 20px;
    grid-column-start: 2;
}

.post-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.main-area {
    /* background-color: lavender; */
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7;
}

.projects-area {
    resize: both;
    overflow: auto;
    display: grid;
    gap: 4px;
    padding: 4px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.media-area {
    /* background-color: teal; */
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 7;
}
  
/* .announcements-area {
    background-color: crimson;
}

.trending-area {
    background-color: darkorange;
} */

.user-button {
    display: inline-block;
    background-color: rgb(31, 153, 209);
    color: white; 
    border: none;
    padding: 8px 24px;
    width: 90px;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
}

article {
    background-color: white;
    text-align: left;
    border-left: orange solid 8px;
    color: black;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 12px;
  }

figure {
    background-color: white;
    text-align: center;
    color: black;
    /* font-family: sans-serif; */
    font-size: 1rem;
    padding: 12px;
}

.searchbar {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  
  /* .searchbar .search-container {
    float: right;
  } */
  
  .searchbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .searchbar button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ad3a3a;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .searchbar button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .searchbar {
      float: none;
    }
    .searchbar input[type=text], .searchbar button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .searchbar input[type=text] {
      border: 1px solid #ccc;  
    }
  }